body{
    background-color:darkgray;
}
#container{ /* sets area the game will be played in */
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 500px;
    background-color: #252728;
    border: 5px solid blue;
    padding: 50px;
    text-align: center;
}
#introScreen{ /* start screen */
    display: block;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    background-color: #252728;
    border: 5px solid gray;
    padding: 50px;
    text-align: center;
}
h1, h2{
    color: white;
}
#gameScreen{ /* sets screen to hidden */
    display:none;
}
#endScreen{ 
    display: none;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    background-color: dodgerblue;
    border: 5px solid gray;
    padding: 50px;
    text-align: center;
}
#theEnd{
    font-weight: bold;
    font-size: 50px;
}
.BTN{
    width: 100px;
    height: 100px;
    margin-left:25px;
    margin-right:25px;
    display: inline-block; /* places them in line, next to each other rather than on top */
}
.fire{
    width: 100px;
    height: 100px;
    background-image: url("images/fire.png"); /* my own created sprite sheet */
    margin-top: 10px;
    animation: burn 0s steps(4) infinite; /* name, rate, amount of frames, how many times, intialized to no animation */
}
.fire:hover{
    animation: burn .5s steps(4) infinite; /* animates on hover */
}
#f1{animation: burn .5s steps(4) infinite;} /* end screen is constant animation */
.plant{
    width: 100px;
    height: 100px;
    background-image: url("images/plant.png");
    margin-top: 10px;
    animation: grow 0s steps(7) infinite;
}
.plant:hover{
    animation: grow 1s steps(7) infinite;
}
#p1{
    animation: grow 1s steps(7) infinite;
}
.water{
    width: 100px;
    height: 100px;
    background-image: url("images/water.png");
    margin-top: 10px;
    animation: wet 0s steps(6) infinite;
}
.water:hover{
    animation: wet 1s steps(6) infinite;
}
#w1{
    animation: wet 1s steps(6) infinite;
}
@keyframes burn{ /* burn is name of animation from-to is the end and begining of the animation */
    from {background-position: 400px}
    to {background-position: 0px}
    
}
@keyframes grow{
    from {background-position: 700px}
    to {background-position: 0px}
    
}
@keyframes wet{
    from {background-position: 600px}
    to {background-position: 0px}
}

#colume2 {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  margin: 30px;
}
.score-board {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    padding:15px 20px;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    font-family: sans-serif;
    position: relative;
}
.badge {
    background: #E2584D;
    color:white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}
#user-label {
    position: absolute;
    top:30px;
    left: -25px;
}
#computer-label {
    position: absolute;
    top:30px;
    right: -30px;
}
.result {
    font-size: 40px;
    color: white;
}
.result > p {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}